.header {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
}
.logo {
  width: 120px;
  height: auto;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 24px;
}
.nav-items > ul > li {
  list-style: none;
  margin: 0 15px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}
.res-card {
    width: 200px;
    background-color: lightgrey;

    padding: 5px;
}
.res-card:hover{
      border: solid 1px black;
      cursor: pointer;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.filter-btn{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  border-radius: 6px;
  background: linear-gradient(90deg, #f6f7f8 25%, #eaeaea 50%, #f6f7f8 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s linear infinite;
  position: relative;
  overflow: hidden;
}

@keyframes shimmer {
  0% { background-position: -150% 0; }
  100% { background-position: 150% 0; }
}

.login {
    padding: 0 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}